.navbar{
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  transition: all 2s;
}
html,body {
    height: 100%;
    width: 100%
    margin: 0;
    padding: 0;
    position: relative;
}

#googleMap {
    height: 100%;
}

.slideUp{
  position: absolute;
  top: 8%;
}
li {
    display: inline;
}

.iw-content{
  color: white;
  font-family: Arial, Helvetica, sans-serif;

}
